body {
  background-color: lightblue;
}

h1 {
  color: white;
  text-align: center;
}

p {
  font-family: verdana;
  font-size: 20px;
}

container {
  display: flex;
  flex-direction: column;
  background-color: DodgerBlue;
}

container div {
  background-color: #f1f1f1;
  width: 100px;
  margin: 10px;
  padding: 10px;
  text-align: center;  
  font-size: 30px;
}
